@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

  body {
    font-family: 'Inter', sans-serif;
  }

.shadowButton{
  box-shadow: 3px 4px 7.4px 0px rgba(0, 0, 0, 0.59);
}

.loginButton{
  background:  linear-gradient(180deg, #FF66AE 0%, #6E26B6 100%)
}

.inputLogin{
  box-shadow: 0px 4px 1.1px -3px rgba(0, 0, 0, 0.25);
}
.desbloquearButton{
  box-shadow: 2.739px 3.652px 6.756px 0px rgba(0, 0, 0, 0.59);
}
.navbarMovil{
  background: linear-gradient(180deg, rgba(255, 102, 174, 0.25) 0%, rgba(110, 38, 182, 0.25) 100%);


}
.visitButton{
  background: var(--Gradiente-4, linear-gradient(180deg, #FF66AE 0%, #6E26B6 100%));
}
.publicacionShadow{
  box-shadow: 0px 4px 12.9px -5px rgba(0, 0, 0, 0.31);
}
.modeloButton{
  border-radius: 34px;
background: var(--Gradiente-4, linear-gradient(180deg, #FF66AE 0%, #6E26B6 100%));
box-shadow: 3px 4px 7.4px 0px rgba(0, 0, 0, 0.59);
}
.paqueteButton{
  background: var(--Gradiente-4, linear-gradient(180deg, #FF66AE 0%, #6E26B6 100%));
  box-shadow: 2.84px 3.786px 7.005px 0px rgba(0, 0, 0, 0.59);
}

.perfilPaquete{
  border-radius: 30px;
background: #FFF;
box-shadow: 0px 4px 12.9px -5px rgba(0, 0, 0, 0.31);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
